#countdown >h1{
    font-family: "B Titr";
    /* padding-bottom: -3rem; */
    font-size: small;
}
#countdown {
    display: flex;
    /* gap: 20px; */
    margin-top: 15px;
    /* background-color: rgb(255, 255, 255); */
    justify-content: center;
}

#countdown > div {
    /* display: inline-block; */
    /* padding: 15px; */
    font-size: 20px;
    /* font-weight: 500; */
    background: rgb(0, 30, 255);
    border-radius: 10px;
}
/* App Fonts */

@font-face {
    font-family: "TTNorms";
    src: url("../fonts/TTNorms-Regular.otf") format("openType");
}

@font-face {
    font-family: "TTNorms Medium";
    src: url("../fonts/TTNorms-Medium.otf") format("openType");
}

@font-face {
    font-family: "TTNorms Light";
    src: url("../fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
    font-family: "Times Roman Italic";
    src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
}

/* Normalize Css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0; /* 3 */
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* Start Project */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "TTNorms";
}

.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}


.menu__item {
}/* Header Top */

.header {
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-logo {
    margin-right: 2rem;
    font-family: "B Titr";
}

.nav-logo__img {
}

.menu {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}

.menu__link {
    text-decoration: none;
    color: #330843;
    padding: 0 1rem;
}

.header__link {
    background-color: #000dc8;
    padding: 0.8rem 1.5em;
    color: #fff;
    border-radius: 0.3rem;
    text-decoration: none;
}
.header__icon{
    font-size: 1.8rem;
    display: none;
    cursor: pointer;
}
/* Header Bottom */

.header-bottom {
    margin-top: 5.5rem;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content__left {
    flex-basis: 50%;
}

.header-content__right {
    flex-basis: 50%;
}

.header-content__wrapper {
    max-width: 28rem;
}

.header-content__title {
    color: #0b0843;
    font-family: "B Titr";
    /*text-align: center;*/
    font-weight: normal;
    line-height: 2.5rem;
}

.header-content__text {
    color: #6c7890;
    line-height: 2rem;
    /*margin-left: 2rem;*/
}

.header-content__links {
    display: flex;
    margin-top: 2rem;
}

.header-content__link {
    background-color: #1700c8;
    padding: 0.8rem 1.5em;
    color: #fff;
    border-radius: 0.3rem;
    text-decoration: none;
    margin-right: 0.8rem;
    display: block;
    width: 10rem;
    text-align: center;
}
.header-content__link:hover {
    background-color: #08005f;
    padding: 0.8rem 1.5em;
    color: #fff;
    border-radius: 0.3rem;
    text-decoration: none;
    margin-right: 0.8rem;
    display: block;
    width: 10rem;
    transition: 0.3s;
    text-align: center;
}

.header-content__link:nth-child(1) {
    background-color: #4b25bc;
}

.header-content__img {
    width: 85%;
}


/* Start Main */


/* Works Section */

.main {
    padding-top: 3rem;
}

.works {
    text-align: center;
    padding: 5rem 0;
}

.works__text, .portfolio__text {
    color: #6C7890;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-top: 0;
}

.works__title, .portfolio__title {
    color: #0c0843;
    margin-top: 0.8rem;
    font-family: 'TTNorms Medium';
    font-weight: normal;
    font-size: 1.8rem;
    font-family: "B Titr";
}

.works-content {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.works-content__item{
    flex-basis: 16rem;
    flex-shrink: 0;
}
.works-content__title {
    color: #fff;
    background-color: #080c43;
}

.works-content__text {
    color: #6C7890;
    line-height: 2rem;
    max-width: 16rem;
}

.works-img {
    max-width: 78rem;
    margin: 0 auto;
}

.works-img__img {
    width: 100%;
}

/* Person-Comments Section */

.person-comments {
    background-color: #4e2fea;
    color: #fff;
    text-align: center;
    padding: 5rem 0;
}

.person-comments__title {
    font-family: "B Titr";
    font-weight: normal;
    margin-top: 0;
    font-size: 1.8rem;
}

.person-comments__text {
    font-family: "TTNorms Light";
    max-width: 28rem;
    margin: 0 auto;
    line-height: 1.8rem;
}

.comments-container {
    max-width: 65rem;
    margin: 3.5rem auto 0 auto;

}

.comments {
    display: flex;
    justify-content: space-between;
}

.comment {
    background-color: #fff;
    margin: 1rem;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 18rem;
    flex-basis: 20rem;

}

.comment__content {
    text-align: left;
    padding: 1.2rem;
}

.comment__body {
    font-family: 'Times Roman Italic';
    color: #7E8085;
    line-height: 1.5rem;
    margin: 0;
}

.comment__info {
    display: flex;
    border-top: 1px solid #E8EBEF;
    padding: 0.8rem 1.2rem;
    align-items: center;
}

.comment__img {

}

.comment__person {
    color: #000000;
    margin: 0 0 0 0.5rem;
}

.companies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.companies__img {
    display: block;
    margin: 1rem;
}

/* Portfolio */


.portfolio {
    text-align: center;
    padding: 5rem 0;
}

.portfolio__text {

}

.portfolio__title {

}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
}

.portfolio__item {
    flex-basis: 23rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    overflow: hidden;
}

.portfolio__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#time{
    /*text-align: center;*/
    background-color: rgb(30, 0, 255);
    border-radius: 0.3rem;
}
#timer{
    text-align: center;
    background-color: #512fea;
}
.aclass{
    display: flex;
    flex-direction: row;
    margin-top: 15rem;
    /*margin-right: 10rem;*/
    gap: 4rem;
    background-color: #452fea;
    /*padding-right: 1rem;*/
    border-radius: 4px;
    color: white;
    text-decoration: none;
    animation: backwards;
}


/*.linkweb{*/
/*    color: #081D43;*/
/*    !*margin-left: -3rem;*!*/
/*    margin-top: 18rem;*/
/*    margin-left: -20rem;*/
/*}*/
/* Start Footer */


/*.newsletter {*/
/*    background-color: #2C57E4;*/
/*    padding: 6.5rem 0;*/
/*    color: #fff;*/
/*}*/

/*.newsletter__wrapper {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.newsletter__text {*/
/*    font-size: 1.6rem;*/
/*    font-weight: normal;*/
/*}*/

/*.newsletter__email {*/
/*    background: #fff;*/
/*    flex-basis: 22rem;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding: 0.3rem 0.3rem 0.3rem 1.5rem;*/
/*    border-radius: 0.3rem;*/
/*}*/

/*.newsletter__txt {*/
/*    border: none;*/
/*    outline: none;*/
/*}*/

/*.newsletter__btn {*/
/*    background: #2F5BEA;*/
/*    border: none;*/
/*    outline: none;*/
/*    padding: 1rem 1.5rem;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    border-radius: 0.3rem;*/
/*}*/

.copy-right {
    color: white;
    padding: 1rem 0;
    background-color: #1b005f;
}

.copy-right__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.copy-right__text {

}

.copy-right__text {

}
.img-1{
    display: flex;
    align-items: center;


}
.aks{
    margin-right: 12rem;
    height: 10rem;
    width: 20rem;
    border-radius: 1rem;


}
.aks-1{
    /*margin-left: 4rem;*/
    /*margin-right: 10rem;*/

    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    margin-top:3rem;
    /*text-decoration: none;*/
    color: #110843;
    gap: 28rem;
    margin-right: 4rem;
    text-decoration: none;
    /*color: #081D43;*/
}
.ask-2{
    color: #140843;
    text-align: center;
    margin: 3rem ;
}
.img-2{
    display: flex;
    flex-direction: row;
    font-family: "sans-serif";

}


/* Project Responsive */

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .portfolio__item{
        flex-basis: 28rem;
    }
    .newsletter__text{
        max-width: 28rem;
    }
    .size-full {
        width: 680px;
        height: 420px;
        border-radius: 2rem;
        float: left;
        margin-top: 1rem;
        margin-left: 3rem;
        }

}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header__link{
        display: none;
    }
    .header-content {
        flex-direction: column-reverse;
    }
    .header-bottom {
        margin-top: 3rem;
    }
    .header-content__wrapper{
        max-width: 100%;
    }
    .header-content__right{
        margin-bottom: 2rem;
    }
    .header-content__links{
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .header-content__link{
        margin-bottom: 1rem;
    }
    .comments{
        flex-wrap: wrap;

    }
    .comment{
        flex-basis: 19rem;
    }
    .companies{
        justify-content: center;
        margin-top: 2.5rem;
    }
    .portfolio__item{
        flex-basis: 20rem;
    }
    .newsletter__text{
        max-width: 20rem;
    }
    .styleBtn:hover{
        background-color: #110843;
        padding: 0.5rem;
        border-radius: 0.6rem;
        text-decoration: none;
        align-items: center;
        align-content: center;
        color: white;
    }
    .contentview{
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header__icon{
        display: block;
        margin-right: 2rem;
    }
    .menu {
        position: fixed;
        top: 0;
        left: -256px;
        bottom: 0;
        background: #423fe1;
        width: 16rem;
        flex-direction: column;
        padding: 2rem 1rem;
        transition: 0.3s all;
    }
    .menu__item{
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }
    .menu__link{
        color: #fff;
    }

    .works-content__item{
        flex-basis: 14rem;
    }
    .works-content__item{
        margin-bottom: 1.5rem;
    }
    .comment{
        margin: 0 0 1.5rem 0;
        flex-basis: 15rem;
    }
    .portfolio__item{
        flex-basis: 100%;
    }
    .newsletter__wrapper{
        flex-direction: column;
    }
    .newsletter__email{
        flex-basis: auto;
        width: 100%;
    }
    .newsletter__text{
        max-width: 100%;
        margin-bottom: 2rem;
    }
    .styleBtn:hover{
        background-color: #430841;
        padding: 0.5rem;
        border-radius: 0.6rem;
        text-decoration: none;
        align-items: center;
        align-content: center;
        color: white;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
    .works-content__item{
        flex-basis: 100%;
    }
    .works-content__text{
        max-width: 100%;
    }
    .comment{
        flex-basis: 100%;
    }
    .styleBtn:hover{
        background-color: #190843;
        padding: 0.5rem;
        border-radius: 0.6rem;
        text-decoration: none;
        align-items: center;
        align-content: center;
        color: white;
    }
    .size-full {
        width: 300px;
        height: 200px;
        border-radius: 2rem;
        float: left;
        margin-top: 1rem;
        margin-left: .8rem;
        margin-right: 3rem;
        }
        #countdown {
            display: flex;
            gap: 3px;
            margin-top: 15px;
            /* background-color: rgb(255, 255, 255); */
            justify-content: space-between;
            height: 30px;
            margin-right: -3rem;
            
          
          }

}
.fontt{
    font-family: "B Titr";
}
.pfont{
    color: #160843;
    font-family: "B Lotus";
}
.dropdown{
    position: relative;
}

.dropdown__btn{
    margin-left: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #5719d2;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    transition: all 120ms ease-in 80ms;

}
.dropdown__btn svg{
    width: 22px;
    height: 22px;
    transition: all 120ms ease-in 80ms;
    
}

.dropdown__content{
    margin-left:15rem;
    position: absolute;
    top: 50px;
    width: 160px;
    padding: 16px;
    border-radius: 6px;
    /* margin-top: 20rem; */
    background-color: #fff;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
    transition: all 120ms ease-in 80ms;
    text-align: center;
    visibility: hidden;
    opacity: 0;
}
.dropdown__content a{
    text-decoration: none;
    color: #1b1b1b;
    display: block;
    margin-bottom: 6px;
}
.dropdown__content a:last-child{
    margin-bottom: 0;
}
.dropdown:hover .dropdown__btn{
    background-color: #2c15c0;
}
.dropdown:hover .dropdown__btn svg{
    transform: rotate(180deg);
}
.dropdown:hover .dropdown__content{
    visibility: visible;
    opacity: 1;
    transform: translateY(12px);
}
/* logpage */
.styleBtn{
    background: #3900c8;
    padding: 0.5rem;
    border-radius: 0.6rem;
    text-decoration: none;
    align-items: center;
    align-content: center;
    color: rgb(255, 255, 255);
}
.styleBtn:hover{
    background-color: #420843;
    padding: 0.5rem;
    border-radius: 0.6rem;
    text-decoration: none;
    align-items: center;
    align-content: center;
    color: white;
}
.allvid{
    background: #15005f;
    color: #fff;
    padding: 1rem;
    border-radius: .4rem;
    text-decoration: none;
    margin-right: 50rem;
}
.allvid:hover{
    background: #2b0843;
    color: #fff;
    padding: 1rem;
    border-radius: .4rem;
    text-decoration: none;
    margin-right:50rem ;
    margin-top: 158rem;
}